# read alignment + project bg ---------------------------------------------------
assembly: hg38 # ['hg38', 'mm10']
filter: 0
project_id: tbr1
seq_type: PE
bed_tool: /home/groups/CEDAR/tools/kentUtils/bigBedToBed
samples: config/metadata.txt
# set extension if using single end reads, otherwise 0 for PE reads.
extension: 0
# consensus peaks -------------------------------------------------------------
blacklist: /home/groups/MaxsonLab/indices/GRch38/hg38.blacklist.v2.bed
# keep peaks present in "n_intersects" (int) numbers of replicates
n_intersects: 2

# quality control -------------------------------------------------------------
# fastqc_screen
fastq_screen_conf: config/fastq_screen.conf

# deeptools computeMatrix: number of bp before and after gene coordinates to investigate binding profiles
genome_gtf: /home/groups/MaxsonLab/indices/GRch38/Homo_sapiens.GRCh38.101.gtf.gz
before_region: 3000
after_region: 3000

# deseq2 ----------------------------------------------------------------------
contrasts: "config/contrasts.txt"
significance: 0.05

# linear model per factor. Generally doesn't need to be changed.
linear_model:
  ~ Condition

# chip screen + fisher --------------------------------------------------------
chrom_sizes: /home/groups/MaxsonLab/indices/GRch38/hg38.chrom.sizes

# essential reports -----------------------------------------------------------
gen_report: yes # [yes, no]

title: "GSK + quizartinib combo treatment with MOLM13 cells at 24 hours"
authors:
  - Dan Coleman
  - Rowan Callahan
  - Garth Kong
  - Ted Braun
  - Julia Maxson
  - et al.

intro: "We are looking to do some drug combination studies with GSK and Quizartinib to treat MOLM13 cells which have FLT3-ITD mutations."

takeaways:
  - "All samples look good with no obvious batch effect."
  - "Consensus peaks looked okay. Number of consensus peaks per factor would be ranked: LSD1 > MYC >> RUNX."
  - "Very few DE peaks for MYC and RUNX across all contrasts; LSD1 had about 50 DE peaks."

notes: "We answered these questions, and look forward to answering more."

analysis:
  - "Align reads with bowtie1"
  - "Make tracks + generate bigBed files, mark duplicates, remove unmapped reads"
  - "Call peaks with MACS2 using bigBed files. Control sample is IgG split by condition and replicate."
  - "Take consensus peaks with custom R script and generate"